In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy

cg = pd.read_csv("CrimeGradeV3.csv")
hp = pd.read_csv("HousePricesV3.csv")
hp = hp.drop('address', axis=1)

ModuleNotFoundError: No module named 'scipy'

# Housing Prices

In [2]:
hp.head()

    price  zipcode
0  260000    23451
1  280000    23451
2  270000    23451
3  185000    23451
4  200000    23451

In [3]:
#double checking all addresses are unique and how many
#print(hp['address'].nunique())

In [4]:
from scipy import stats
pivot_hp["price_zscore"] = stats.zscore(pivot_hp["price"])
pivot_hp.head()

ModuleNotFoundError: No module named 'scipy'

In [ ]:
sns.set(rc={'figure.figsize':(20,8)})
ax = sns.countplot(data=hp, x='zipcode')

ax.set_xticklabels(ax.get_xticklabels(), rotation=45)

for p in ax.patches:
    ax.annotate(format(p.get_height(), '.0f'), 
                (p.get_x() + p.get_width() / 2., p.get_height()-2), 
                ha = 'center', va = 'center', 
                xytext = (0, 10), 
                textcoords = 'offset points')
    
plt.xlabel("Zipcode", fontsize=13)
plt.title("Number of Houses per Zipcode", fontsize=15)

In [ ]:
hp.info()

In [ ]:
import pandas as pd
import numpy as np

# Convert the columns to the desired data types
hp['zipcode'] = hp['zipcode'].astype(int)
hp["price"] = hp["price"].astype(int)

# Group by 'zipcode' and calculate the mean of 'price'
meanprice = hp.groupby('zipcode')['price'].mean().reset_index()

# Convert the resulting Series to a DataFrame and format the values to remove scientific notation
meanprice = pd.DataFrame(meanprice).to_string(float_format='%.2f')

In [ ]:
sns.set(rc={'figure.figsize':(20,8)})
ax = sns.countplot(data=hp, x='zipcode')

ax.set_xticklabels(ax.get_xticklabels(), rotation=45)

meanprice = hp.groupby('zipcode')['price'].mean().reset_index()
meanprice = pd.DataFrame(meanprice, columns=['zipcode', 'price'])
ax = sns.barplot(data=meanprice, x='zipcode', y='price')
for p in ax.patches:
    ax.annotate(format(p.get_height(), '.0f'), 
                (p.get_x() + p.get_width() / 2., p.get_height()-2), 
                ha = 'center', va = 'center', 
                xytext = (0, 10), 
                textcoords = 'offset points')

plt.xlabel("Zipcode", fontsize=13)
plt.ylabel("Price", fontsize=13)
plt.title("Average Price Of House By Zipcode", fontsize=15)
plt.show()

In [ ]:
sns.histplot(data=hp, x="price")

In [ ]:
sns.histplot(data=meanprice, x="price")

### What I explored in housing prices:
- Average Price of house by zipcode
- Number of houses per zipcode
- Distrubution of average price of house